.transfer-box {
  width: 366px;
  height: 500px;
  margin: 100px auto 150px;
  .transfer-switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    .el-switch__core .el-switch__action {
      width: 24px;
      height: 24px;
      top: -3px;
      left: -4px;
    }
    .is-checked {
      .el-switch__core .el-switch__action {
        left: 100% !important;
      }
    }
  }
  .transfer-convert {
    width: 100%;
    height: 130px;
    position: relative;
    //noinspection CssInvalidPseudoSelector
    .el-select {
      --el-select-input-focus-border-color: #00000000;
      --el-select-close-hover-color: #00000000;
      --el-select-border-color-hover: #00000000;
      .el-input {
        margin: 0;
        .el-input__inner {
          font-family: PingFangSC-Medium;
          font-size: 14px;
          color: #ffffff;
          font-weight: 600;
        }
        .el-input__wrapper {
          box-shadow: none;
          padding: 0;
        }
      }
    }
    & > div {
      height: 62px;
      width: 100%;
      background: #262932;
      border-radius: 4px;
      position: absolute;
      transform: translateY(0);
      transition: all 0.3s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      & > div {
        flex-shrink: 0;
        &:nth-child(1) {
          width: calc(50% - 78px);
          font-family: PingFangSC-Medium;
          font-size: 14px;
          color: #ffffff;
          font-weight: 600;
        }
        &:nth-child(2) {
          width: 36px;
          text-align: center;
          font-family: PingFangSC-Medium;
          font-size: 12px;
          color: #535865;
          font-weight: 600;
          justify-content: center;
        }
        &:nth-child(3) {
          width: calc(50% - 78px);
          font-family: DIN-Medium, cursive;
          font-size: 14px;
          color: var(--aux-color);
          font-weight: 600;
        }
      }
    }
    .bottom {
      transform: translateY(68px);
      div:nth-child(1) {
        font-family: PingFangSC-Medium;
        font-size: 14px;
        color: #535865;
        font-weight: 600;
      }
      div:nth-child(3) {
        font-family: PingFangSC-Medium;
        font-size: 14px;
        color: #535865;
        font-weight: 600;
      }
      .el-select {
        .el-input {
          .el-input__inner {
            color: #535865;
          }
        }
      }
    }
    .change-mode {
      height: 32px;
      width: 32px;
      justify-content: center;
      background: var(--aux-color);
      left: calc(50% - 16px);
      top: calc(50% - 16px);
      cursor: pointer;
      border-radius: 50%;
      &:hover {
        box-shadow: 12px 12px 24px #ffffff30 inset;
      }
      &:active {
        box-shadow: 12px 12px 24px #ffffff60 inset;
      }
    }
  }
}
.qr-box {
  background: #ffffff;
  border: 1px solid rgba(151, 151, 151, 1);
  border-radius: 8px;
  overflow: hidden;
}
