@font-face {
  font-family: 'PingFangSC-Medium';
  src: url('FontsFree-Net-DIN-Medium.ttf');
}

@font-face {
  font-family: 'BIN-Medium';
  src: url('FontsFree-Net-DIN-Medium.ttf');
}

@font-face {
  font-family: 'PingFangSC-Regular';
  src: url('PingFangSC-Regular.ttf');
}

@font-face {
  font-family: 'PingFangSC-Semibold';
  src: url('PingFangSC-Semibold.ttf');
}
